UNIT-2

In [ ]:
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
print(x)

if x:
    print("YES! We have a match!")
else:
    print("No match")

<re.Match object; span=(0, 17), match='The rain in Spain'>
YES! We have a match!

In [ ]:
txt="The rain in Spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
txt="The rain in Spain"
x=re.findall("Portugal",txt)
print(x)

[]

In [ ]:
txt="The rain in Spain"
x=re.search("\s",txt)

In [ ]:
import re

text = "The cat sat on the mat. The dog barked at the cat. Cats and dogs live in harmony."

# Find all occurrences of the word "cat" or "dog" (case-insensitive)
cat_dog_occurrences = re.findall(r'\b(cat|dog)\b', text, re.IGNORECASE)
print("Occurrences of 'cat' or 'dog':", cat_dog_occurrences)

# Find all words that start with the letter 'c' and have exactly 3 letters (case-sensitive)
c_words = re.findall(r'\bc\w{2}\b', text)
print("Words that start with 'c' and have exactly 3 letters:", c_words)

Occurrences of 'cat' or 'dog': ['cat', 'dog', 'cat']
Words that start with 'c' and have exactly 3 letters: ['cat', 'cat']

In [ ]:
txt="The rain in Spain"
x=re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.span())

(12, 17)

In [ ]:
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.string)

The rain in Spain

In [ ]:
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.group())

Spain

In [ ]:
txt="The rain in Spain"
x=re.sub("\s","9",txt)
print(x)

The9rain9in9Spain

In [ ]:
txt="The rain in Spain"
x=re.sub("\s","9",txt,2)
print(x)

The9rain9in Spain